body {
  background: #7dd87d;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}
footer {
  text-align: center;
  font-size: 16px;
  color: #392f2f;
}
.container {
  max-width: 600px;
  margin: 120px auto;
}
.verse-form {
  background: #c37857;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}
.verse {
  background: #e8d5b7;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  border-left: 3px solid #c37857;
  color: black;
}
.hidden {
  display: none;
}
.verse-input {
  color: black;
  background: #e8d5b7;
  border-radius: 20px;
  width: 80%;
  padding: 15px;
}
.verse-button {
  color: white;
  background: #906387;
  border-radius: 20px;
  width: 100px;
}
a {
  color: black;
}
